@import "./font.css";
:root {
    --color-blue: #0085E5;
    --color-text: #484848;
    --color-orange: #FFA000;
    --color-accent-bg: #FfF4E1;
}

* ,* ::before, * ::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 14px;
    font-family: 'Cera Pro', sans-serif;
    line-height: 1.85;
    background: #fff;
    color: var(--color-text);
}

.header {
    color: var(--color-accent-bg);
}