.progress-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background: 
               radial-gradient(closest-side, white 87%, transparent 90% 100%),
               conic-gradient(#FFA00038 25%,#FFA000 25%);
}

.progress-bar--blue {
    background: 
              radial-gradient(closest-side, white 87%, transparent 90% 100%),
              conic-gradient(#ffffff 0, var(--color-blue) 75%); 
}

.progress-bar::before {
    content: attr(data-progress);
    font-weight: 500;
    font-size: 14px;
}

.progress-bar_progress {
    visibility: hidden;
    height:0;
    width:0; 
}

.progress-bar--white {
    background:
              radial-gradient(closest-side, var(--color-blue) 87%, transparent 90% 100%),
              conic-gradient(#8ec0e938 25%,#ffffff 25%);
}

.progress-bar--orange {
    background:
              radial-gradient(closest-side, var(--color-orange) 87%, transparent 90% 100%),
              conic-gradient(#FFFFFF52 25%,#ffffff 25%);
}