@import "./font.css";

:root {
    --color-blue: #0085E5;
    --color-text: #484848;
    --color-orange: #FFA000;
    --color-accent-bg: #FfF4E1;
}

* ,* ::before, * ::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 14px;
    font-family: 'Cera Pro', sans-serif;
    line-height: 1.85;
    background: #fff;
    color: var(--color-text);
}

h1 {
    margin-top: 0;
}

a {
    text-decoration: none;
    color: var(--color-blue);
}

button {
    all: unset;
}

.button {
    background-color: var(--color-blue);
    border-radius: 16px;
    color: #fff;
    font-weight: 500;
    padding: 15px;
    line-height: 1;
    text-align: center;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    background-color: var(--color-accent-bg);
    padding: 31px 0;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    display: block;
}

.header-logo img {
    height: 44px;
    margin-right: 56px;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: auto;
}

.header-nav a {
    display: block;
    color: var(--color-text);
    font-weight: 500;
    padding: 14px;
}

.header-switcher {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.header-switcher span {
    display: block;
    position: relative;
    margin: 0 14px;
    border-radius: 12px;
    height: 24px;
    width: 42px;
    background-color: var(--color-blue);
}

.header-switcher span::before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #fff;
    top: 2px;
    left: 2px;
}

.header .active {
    font-weight: 500;
}

.header-login {
    display: flex;
    align-items: center;
    color: var(--color-text);
    font-size: 15px;
    margin-left: 54px;
    margin-right: 0;
}

.header-login img {
    height: 16px;
    width: 16px;
    margin-right: 10px;
}

.header-register {
    padding-right: 48px;
    padding-left: 48px;
    margin-left: 42px;
}

/* MAIN */
.home-greeting {
    background-color: var(--color-accent-bg);
    background-image: url('../img/line.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
}