@import "./font.css";

:root {
    --color-blue: #0085E5;
    --color-text: #484848;
    --color-orange: #FFA000;
    --color-accent-bg: #FfF4E1;
    --color-orange-light: #fff9f0;
    --color-blue-light: #f5fafe;
}

/* ---------- MAIN STYLES ---------- */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 14px;
    font-family: 'Cera Pro', sans-serif;
    line-height: 1.85;
    background: #fff;
    color: var(--color-text);
}

h1 {
    margin-top: 0;
    margin-bottom: 25px;
    line-height: 1.25;
    color: #000239;
    font-size: 48px;
    position: relative;
}

img {
    max-width: 100%;
}

p {
    margin-top: 0;
    margin-bottom: 16px;
}

a {
    text-decoration: none;
    color: var(--color-blue);
}

button {
    all: unset;
    cursor: pointer;
}

.button {
    display: inline-block;
    background-color: var(--color-blue);
    border-radius: 16px;
    color: #fff;
    font-weight: 500;
    padding: 15px;
    line-height: 1;
    text-align: center;
    cursor: pointer;
}

.button--block {
    display: block;

}

.button--orange {
    color: #fff;
    background: var(--color-orange);
}

.button--orange-light {
    color: var(--color-orange);
    background-color: var(--color-orange-light);
}

.button--blue-light {
    color: var(--color-blue);
    background-color: var(--color-blue-light);
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

/* ---------- HEADER ---------- */
.header {
    background-color: var(--color-accent-bg);
    padding: 31px 0;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    display: block;
}

.header-logo img {
    height: 44px;
    margin-right: 56px;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: auto;
}

.header-nav a {
    display: block;
    color: var(--color-text);
    font-weight: 500;
    padding: 14px;
}

.header-switcher {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.header-switcher span {
    display: block;
    position: relative;
    margin: 0 14px;
    border-radius: 12px;
    height: 24px;
    width: 42px;
    background-color: var(--color-blue);
}

.header-switcher span::before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #fff;
    top: 2px;
    left: 2px;
}

.header .active {
    font-weight: 500;
}

.header-login {
    display: flex;
    align-items: center;
    color: var(--color-text);
    font-size: 15px;
    margin-left: 54px;
    margin-right: 0;
}

.header-login img {
    height: 16px;
    width: 16px;
    margin-right: 10px;
}

.header-register {
    padding-right: 48px;
    padding-left: 48px;
    margin-left: 42px;
}

/* MAIN */
.home-greeting {
    background-color: var(--color-accent-bg);
    background-image: url('../img/line.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 75%;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    padding-top: 60px;
    padding-bottom: 30px;
}

.home-greeting .container {
    display: flex;
    align-items: flex-start;
}

.home-greeting-info {
    min-width: 540px;
    margin-right: 40px;
    flex: 0 0 540px;
}

.home-greeting-info h1 span {
    color: var(--color-blue);
}

.home-greeting-info p {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 36px;
}

.home-greeting-stat  {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-bottom: 36px;
    max-width: 440px;
}

.home-greeting-stat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0px 1.75px 9.39px 0px #DD79001D;
    box-shadow: 0px 14px 75px 0px #DD79003B;
    text-align: center;
    padding: 22px 12px 17px;
}

.home-greeting-stat-item-icon {
    width: 40px;
    height: 40px;
    border-radius: 14px;
    padding: 12px;
    margin-bottom: 11px;
    background-color: var(--color-blue);
}

.home-greeting-stat-item-icon img {
    display: block;
    width: 16px;
    height: 16px;
}

.home-greetin-stat-item b {
    font-weight: 500;
    font-size: 17px;
    line-height: 1.29;
    margin-bottom: 6px;
}

.home-greeting-stat-item p {
    font-size: 13px;
    line-height: 1.3;
    margin-bottom: 0;
}

.home-greeting-stat-item p span {
    color: var(--color-blue);
    font-weight: 500;
}

.home-greeting-stat-item--1 .home-greeting-stat-item-icon {
    box-shadow: 0px 9px 20px 0px #0062A933;

}

.home-greeting-stat-item--2 .home-greeting-stat-item-icon {
    background-color: var(--color-orange-light);
}

.home-greeting-stat-item--3 .home-greeting-stat-item-icon {
    background-color: var(--color-blue-light);
}

.home-greeting-stat-item--2 p span {
    color: var(--color-orange);
}

.home-greeting-info ul {
    list-style: none;
    margin-top: 0;
    padding-left: 0;
    font-size: 15px;
    margin-bottom: 30px;
}

.home-greeting-info ul li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.home-greeting-info ul li:last-child {
    margin-bottom: 0;
}

.home-greeting-info ul li span {
    color: var(--color-blue);
    font-weight: 500;
}

.home-greeting-info ul li img {
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 12px;
}

.home-greeting-info .button {
    padding-left: 30px;
    padding-right: 30px;
}

.home-greeting-label {
    background-color: var(--color-orange);
    color: #fff;
    border-radius: 10px;
    line-height: 1.71;
    font-weight: 500;
    font-size: 14px;
    position: absolute;
    padding: 5px 13px;
}

.home-greeting-info h1 .home-greeting-label {
    top: 5px;
    right: -5px;
}

.home-greeting-label--blue {
    background-color: var(--color-blue);
}

.home-greeting-image {
    position: relative;
}

.home-greeting-image .home-greeting-label {
    left: -50px;
    bottom: 150px;
}   

.home-greeting-image .home-greeting-label--blue {
    right: -100px;
    top: 35%;
    left: auto;
    bottom: auto;
}

.home-greeting-label img {
    display: block;
    width: 16px;
    height: 16px;
    margin: 5px auto 3px;
}

.home-greeting-image-laptop {
    margin-right: -100px;
}

.home-greeting-image-laptop img {
    display: block;
}

/* ---------- HOME ACTIONS ---------- */
.home-actions {
    padding: 80px 0;
}

.home-actions-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 64px;
    margin-bottom: 46px;
}

.home-action-item {
    border-radius: 20px;
    background-color: var(--color-blue-light);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-action-item-img {
    min-width: 226px;
}

.home-action-item-img img {
    display: block;
    width: 226px;
}

.home-action-item-info {
    padding: 15px 0 15px 40px;
}

.home-action-item h3 {
    color: var(--color-blue);
    font-size: 22px;
    font-weight: 500;
    line-height: 1.36;
    margin-top: 0;
    margin-bottom: 20px;
}

.home-action-item-info p {
    line-height: 1.71;
    margin-bottom: 26px;
}

.home-action-item-info a {
    color: var(--color-blue);
    font-weight: 500;
    line-height: 1.42;
    display: inline-flex;
    align-items: center;
}

.home-action-item-info a img {
    display: block;
    width: 10px;
    height: 10px;
    margin-left: 8px;
}

.home-action-item--blue {
    background-color: var(--color-blue);
    color: #fff;
}

.home-action-item--blue h3, .home-action-item--blue a {
    color: #fff;
}

.home-actions-features {
    display: flex;
    justify-content: space-around;
}

.home-action-features-item {
    text-align: center;
    min-width: 23%;
    flex: 0 0 23%;
}

.home-action-features-item img {
    width: 130px;
    display: block;
    margin-bottom: 18px;
    margin: 0 auto 18px;
}

.home-action-features-item b {
    display: block;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 16px;

}

.home-action-features-item p {
    margin-bottom: 0;
    line-height: 1.71;
}

.home-service {
    background-color: #fafafd;
    padding: 74px 0;
}

.home-service h4 {
    margin-top: 0;
    margin-bottom: 38px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.33;
}

.home-service-wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
}

.home-service-item {
    padding: 30px 34px 38px;
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.home-service-item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 22px;
}

.home-service-item-icon {
    width: 40px;
    height: 40px;
    border: 1px solid var(--color-blue);
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-service-item-icon img {
    display: block;
    width: 16px;
    height: 16px;
}

.home-service-item-order {
    border: 1px solid #CBCBCB33;
    border-radius: 20px;
    padding: 9px 19px;
    font-size: 14px;
    line-height: 1.38;
}

.home-service-item-order span {
    color: var(--color-blue);
    font-weight: 500;
}

.home-service-item h5 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
}

.home-service-item p {
    font-size: 14px;
    margin-bottom: 30px;
    line-height: 1.69;
}

.home-service-item ul {
    list-style: none;
    margin-bottom: 25px;
    padding-left: 0;
    margin-top: 0;
}

.home-service-item ul li {
    margin-bottom: 5px;
    font-size: 13px;
    line-height: 1.28;
}

.home-service-item ul li:last-child {
    margin-bottom: 0;
}

.home-service-item ul li span {
    font-weight: 500;
    color: var(--color-blue);
    font-size: 14px;
}

.home-service-item ul li img {
    width: 10px;
}

.home-service-item .button {
    margin-top: auto;
}

.home-service-item:hover {
    box-shadow: 0px 10px 30px 0px #1D1D1D0A;
    box-shadow: 0px 10px 50px 0px #7575750F;
    cursor: pointer;
}

.home-service-item:hover .home-service-item-icon {
    background: var(--color-blue);
    box-shadow: 0px 9px 20px 0px #0062A933;
}

.home-service-item:hover .button {
    background: var(--color-blue);
    color: #fff;
}

.home-service-item--orange  {

}

.home-service-item--orange  .home-service-item-icon {
    border-color: var(--color-orange);
}

.home-service-item--orange .home-service-item-order span {
    color: var(--color-orange);
}

.home-service-item--orange ul li span {
    color: var(--color-orange);
}

.home-service-item--orange:hover .home-service-item-icon {
    background-color: var(--color-orange);
}

.home-service-item-icon .home-service-item-icon-img-hover {
    display: none;
}

.home-service-item:hover .home-service-item-icon .home-service-item-icon-img {
    display: none;
}

.home-service-item:hover .home-service-item-icon .home-service-item-icon-img-hover {
    display: block;
} 

.home-service-item--orange:hover .button {
    background-color: var(--color-orange);
}