@import "./font.css";
@import "./progressbar.css";

:root {
    --color-blue: #0085E5;
    --color-text: #484848;
    --color-orange: #FFA000;
    --color-accent-bg: #FfF4E1;
    --color-orange-light: #fff9f0;
    --color-blue-light: #f5fafe;
}

/* !---------- MAIN STYLES ---------- */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 14px;
    font-family: 'Cera Pro', sans-serif;
    line-height: 1.85;
    background: #fff;
    color: var(--color-text);
}

h1 {
    margin-top: 0;
    margin-bottom: 25px;
    line-height: 1.25;
    color: #000239;
    font-size: 48px;
    position: relative;
}

img {
    max-width: 100%;
}

p {
    margin-top: 0;
    margin-bottom: 16px;
}

a {
    text-decoration: none;
    color: var(--color-blue);
}

button {
    all: unset;
    cursor: pointer;
}

.button {
    display: inline-block;
    background-color: var(--color-blue);
    border-radius: 16px;
    color: #fff;
    font-weight: 500;
    padding: 15px;
    line-height: 1;
    text-align: center;
    cursor: pointer;
}

.button--block {
    display: block;
}

.button--orange {
    color: #fff;
    background: var(--color-orange);
}

.button--orange-light {
    color: var(--color-orange);
    background-color: var(--color-orange-light);
}

.button--blue-light {
    color: var(--color-blue);
    background-color: var(--color-blue-light);
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

/* !---------- HEADER ---------- */
.mobile-header__logo {
    display: none;
}

.header {
    background-color: var(--color-accent-bg);
    padding: 31px 0;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__mobile {
    display: none;
}

.header__logo {
    margin-right: 56px;
    display: block;
}

.header__logo img {
    height: 44px;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: auto;
}

.header__nav a {
    display: block;
    color: var(--color-text);
    font-weight: 500;
    padding: 14px;
}

.header__switcher {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.header__switcher span {
    display: block;
    position: relative;
    margin: 0 14px;
    border-radius: 12px;
    height: 24px;
    width: 42px;
    background-color: var(--color-blue);
}

.header__switcher span::before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #fff;
    top: 2px;
    left: 2px;
}

.header .active {
    font-weight: 500;
}

.header__login {
    display: flex;
    align-items: center;
    color: var(--color-text);
    font-size: 15px;
    margin-left: 54px;
    margin-right: 0;
}

.header__login img {
    height: 16px;
    width: 16px;
    margin-right: 10px;
}

.header__register {
    padding-right: 48px;
    padding-left: 48px;
    margin-left: 42px;
}

/* !---------- HOME GREETING ---------- */
.home-greeting {
    background-color: var(--color-accent-bg);
    background-image: url('../img/line.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 75%;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    padding-top: 60px;
    padding-bottom: 30px;
}

.home-greeting .container {
    display: flex;
    align-items: flex-start;
}

.home-greeting-stat-item__icon .home-greeting-stat-item-icon__2 {
    display: none;
}

.home-greeting__info {
    min-width: 540px;
    margin-right: 40px;
    flex: 0 0 540px;
}

.home-greeting__info h1 span {
    color: var(--color-blue);
}

.home-greeting__info p {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 36px;
}

.home-greeting__stat  {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-bottom: 36px;
    max-width: 440px;
}

.home-greeting-stat__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0px 1.75px 9.39px 0px #DD79001D;
    box-shadow: 0px 14px 75px 0px #DD79003B;
    text-align: center;
    padding: 22px 12px 17px;
}

.home-greeting-stat-item__icon {
    width: 40px;
    height: 40px;
    border-radius: 14px;
    padding: 12px;
    margin-bottom: 11px;
    background-color: var(--color-blue);
}

.home-greeting-stat-item__icon img {
    display: block;
    width: 16px;
    height: 16px;
}

.home-greeting-stat__item b {
    font-weight: 500;
    font-size: 17px;
    line-height: 1.29;
    margin-bottom: 6px;
}

.home-greeting-stat__item p {
    font-size: 13px;
    line-height: 1.3;
    margin-bottom: 0;
}

.home-greeting-stat__item p span {
    color: var(--color-blue);
    font-weight: 500;
}

.home-greeting-stat__item--1 .home-greeting-stat-item__icon {
    box-shadow: 0px 9px 20px 0px #0062A933;

}

.home-greeting-stat__item--2 .home-greeting-stat-item__icon {
    background-color: var(--color-orange-light);
}

.home-greeting-stat__item--3 .home-greeting-stat-item__icon {
    background-color: var(--color-blue-light);
}

.home-greeting-stat__item--2 p span {
    color: var(--color-orange);
}

.home-greeting__info ul {
    list-style: none;
    margin-top: 0;
    padding-left: 0;
    font-size: 15px;
    margin-bottom: 30px;
}

.home-greeting__info ul li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.home-greeting__info ul li:last-child {
    margin-bottom: 0;
}

.home-greeting__info ul li span {
    color: var(--color-blue);
    font-weight: 500;
}

.home-greeting__info ul li img {
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 12px;
}

.home-greeting__info .button {
    padding-left: 30px;
    padding-right: 30px;
}

.home-greeting__label {
    background-color: var(--color-orange);
    color: #fff;
    border-radius: 10px;
    line-height: 1.71;
    font-weight: 500;
    font-size: 14px;
    position: absolute;
    padding: 5px 13px;
}

.home-greeting__info h1 .home-greeting__label {
    top: 5px;
    right: -5px;
}

.home-greeting__label--blue {
    background-color: var(--color-blue);
}

.home-greeting__image {
    position: relative;
}

.home-greeting__image .home-greeting__label {
    left: -50px;
    bottom: 150px;
}   

.home-greeting__image .home-greeting__label--blue {
    right: -100px;
    top: 35%;
    left: auto;
    bottom: auto;
}

.home-greeting__label img {
    display: block;
    width: 16px;
    height: 16px;
    margin: 5px auto 3px;
}

.home-greeting-image__laptop {
    margin-right: -100px;
}

.home-greeting-image__laptop img {
    display: block;
}

/* !---------- HOME ACTIONS ---------- */
.home-actions {
    padding: 80px 0;
}

.home-actions__wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 64px;
    margin-bottom: 46px;
}

.home-actions__item {
    border-radius: 20px;
    background-color: var(--color-blue-light);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-actions-item__img {
    min-width: 226px;
}

.home-actions-item__img .home-actions-img__mobile {
    display: none;
}

.home-actions-item__img img {
    display: block;
    width: 226px;
}

.home-actions-item__info {
    padding: 15px 0 15px 40px;
}

.home-actions__item h3 {
    color: var(--color-blue);
    font-size: 22px;
    font-weight: 500;
    line-height: 1.36;
    margin-top: 0;
    margin-bottom: 20px;
}

.home-actions-item__info p {
    line-height: 1.71;
    margin-bottom: 26px;
}

.home-actions-item__info a {
    color: var(--color-blue);
    font-weight: 500;
    line-height: 1.42;
    display: inline-flex;
    align-items: center;
}

.home-actions-item__info a img {
    display: block;
    width: 10px;
    height: 10px;
    margin-left: 8px;
}

.home-actions__item--blue {
    background-color: var(--color-blue);
    color: #fff;
}

.home-actions__item--blue h3, .home-actions__item--blue a {
    color: #fff;
}

.home-actions__features {
    display: flex;
    justify-content: space-around;
}

.home-actions-features__item {
    text-align: center;
    min-width: 23%;
    flex: 0 0 23%;
}

.home-actions-features__item img {
    width: 130px;
    display: block;
    margin-bottom: 18px;
    margin: 0 auto 18px;
}

.home-actions-features__item b {
    display: block;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 16px;

}

.home-actions-features__item p {
    margin-bottom: 0;
    line-height: 1.71;
}

/* !---------- HOME SERVICE ---------- */
.home-service {
    background-color: #fafafd;
    padding: 74px 0;
}

.home-service h4 {
    margin-top: 0;
    margin-bottom: 38px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.33;
}

.home-service__wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
}

.home-service__item {
    padding: 30px 34px 38px;
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.home-service-item__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 22px;
}

.home-service-item__icon {
    width: 40px;
    height: 40px;
    border: 1px solid var(--color-blue);
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
}

.home-service-item__icon img {
    display: block;
    width: 16px;
    height: 16px;
}

.home-service-item__order {
    border: 1px solid #CBCBCB33;
    border-radius: 20px;
    padding: 9px 19px;
    font-size: 14px;
    line-height: 1.38;
}

.home-service-item__order span {
    color: var(--color-blue);
    font-weight: 500;
}

.home-service__item h5 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
}

.home-service__item p {
    font-size: 14px;
    margin-bottom: 30px;
    line-height: 1.69;
}

.home-service__item ul {
    list-style: none;
    margin-bottom: 25px;
    padding-left: 0;
    margin-top: 0;
}

.home-service__item ul li {
    margin-bottom: 5px;
    font-size: 13px;
    line-height: 1.28;
}

.home-service__item ul li:last-child {
    margin-bottom: 0;
}

.home-service__item ul li span {
    font-weight: 500;
    color: var(--color-blue);
    font-size: 14px;
}

.home-service__item ul li img {
    width: 10px;
}

.home-service__item .button {
    margin-top: auto;
}

.home-service__item:hover {
    box-shadow: 0px 10px 30px 0px #1D1D1D0A, 0px 10px 50px 0px #7575750F;
    cursor: pointer;
}

.home-service__item:hover .home-service-item__icon {
    background: var(--color-blue);
    box-shadow: 0px 9px 20px 0px #0062A933;
}

.home-service__item:hover .button {
    background: var(--color-blue);
    color: #fff;
}

.home-service__item--orange  .home-service-item__icon {
    border-color: var(--color-orange);
}

.home-service__item--orange .home-service-item__order span {
    color: var(--color-orange);
}

.home-service__item--orange ul li span {
    color: var(--color-orange);
}

.home-service__item--orange:hover .home-service-item__icon {
    background-color: var(--color-orange);
}

.home-service-item__icon .home-service-item-icon__img--hover {
    display: none;
}

.home-service__item:hover .home-service-item__icon .home-service-item-icon__img {
    display: none;
}

.home-service__item:hover .home-service-item__icon .home-service-item-icon__img--hover {
    display: block;
} 

.home-service__item--orange:hover .button {
    background-color: var(--color-orange);
    color: #fff;
}

/* ! ---------- HOME CHANNELS ---------- */
.home-channels {
    padding: 70px 0px 74px;
}

.home-channels__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}

.home-channels-item-header__button {
    text-align: center;
}

.home-channels__header h3 {
    margin: 0;
    line-height: 1.3;
    font-size: 24px;
    font-weight: 500;
}

.home-channels__header a {
    padding: 8px 22px;
    border-radius: 10px;
    background-color: #F8F8FD;
    display: inline-flex;
    align-items: center;
    line-height: 20px;
}

.home-channels__header a img {
    margin-right: 8px;
    width: 14px;
    height: 14px;
    display: block;
}

.home-channels-item-clients__text {
    text-align: start;
}

.home-channels__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 26px 34px;
}

.home-channels__item {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 10px 30px 0px #1D1D1D0A, 0px 10px 50px 0px #7575750F;
    color: var(--color-text);
}

.home-channels-item__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 26px 26px;
}

.home-channels-item__header img {
    display: block;
    width: 66px;
    height: 66px;
    margin-bottom: 18px;
    border-radius: 100%;
}

.home-channels-item__header h5 {
    margin-top: 0;
    margin-bottom: 4px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: 500;
}

.home-channels-item__header p {
    margin-bottom: 0;
    font-size: 13px;
    line-height: 1.3;
}

.home-channels-item__header p span {
    font-weight: 500;
    color: var(--color-blue);
}

.home-channels-item__orders {
    border-radius: 20px;
    padding: 21px 27px 21px 36px;
    margin: 0 -4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 20px 0px #00000014;
    background: #fff;
}

.home-channels-item-order__text {
    flex: 0 0 67%;
    min-width: 67%;
}

.home-channels-item-order__text b {
    display: block;
    font-weight: 500;
    line-height: 1.2;
    font-size: 15px;
    margin-bottom: 7px;
}

.home-channels-item-order__text ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.home-channels-item-order__text ul li {
    margin-bottom: 3px;
    font-size: 13px;
    line-height: 1.38;
    padding-left: 14px;
    position: relative;
}

.home-channels-item-order__text ul li::before {
    display: block;
    content: "";
    width: 6px;
    height: 6px;
    background-color: var(--color-orange);
    border-radius: 100%;
    position: absolute;
    left: 0px;
    top: 6px;
}

.home-channels-item-order__text ul li:last-child::before {
    background: #FFA00038;
}

.home-channels-item-orders__progress .progress-bar, .home-channels-item-clients__progress .progress-bar  {
    margin-left: auto;
}

.home-channels-item__clients {
    border-radius: 20px;
    padding: 19px 25px 25px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-channels-item-clients__text b {
    display: block;
    font-weight: 500;
    line-height: 1.2;
    font-size: 15px;
    margin-bottom: 7px;
}

.home-channels-item-clients__text p {
    margin-bottom: 0;
    font-weight: 500;    
    line-height: 1.5;
    opacity: 80%;
}

.home-channels-item-orders__progress, .home-channels-item-clients__progress {
    flex: 0 0 33%;
    min-width: 33%;
    position: relative;
}

.home-channels-item-orders__progress::before, .home-channels-item-clients__progress::before {
    content: "";
    display: block;
    width: 1px;
    height: 54px;
    position: absolute;
    left: 0;
    top: 50%;
    background-color: #F2F2F6;
    transform:translateY(-50%);
}

.home-channels-item-orders__progress::before {
    background-color: #0186E633;
}

.home-channels__footer {
    margin-top: 40px;
    text-align: center;
}

.home-channels__footer .button {
    padding-left: 60px;
    padding-right: 60px;
}

.home-channels__item--blue {
    box-shadow: none;
    border-radius: 6px;
    border: 1px solid #0186E633;
}

.home-channels__item--blue .home-channels-item__orders {
    background-color: var(--color-blue);
    color: white;
}

.home-channels__item--blue .home-channels-item__orders ul li::before {
    background-color: white;
}

.home-channels__item--blue .home-channels-item__orders ul li:last-child::before {
    background-color: #FFFFFF52;
}

.home-channels__item--blue .home-channels-item-orders__progress::before {
    background-color: white;
}

/* * ---------- HOME GROUP ---------- */
.home-channels--group {
    background-color: #FAFAFD;
}

.progress-bar--orange {
    box-shadow: none;
}

.home-channels__item--orange .home-channels-item__orders {
    background-color: var(--color-orange);
    color: white;
}

.home-channels__item--orange .home-channels-item-order__text ul li::before {
    background-color: white;
}

.home-channels__item--orange .home-channels-item-order__text ul li:last-child::before {
    background-color: #FFFFFF52;
}

.home-channels__item--orange .home-channels-item-orders-progress::before {
    background-color: white;
}

.home-channels-item-orders__progress--orange::before {
    background-color: white;
}

.home-channels--group .home-channels-header a {
    background-color: white;
}
/* ! ---------- HOME REVIEWS ---------- */

.home-reviews {
    padding: 74px 0 74px;
}

.home-reviews__grird {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
}

.home-reviews__title {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

.home-reviews__title h3 {
    margin-top: 0;
    margin: 0 0 48px 0;
    font-weight: 500;
    font-size: 24px;
}

.home-reviews__item {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 1px solid #CBCBCB66;
    color: var(--color-text);
    padding: 30px 34px 33px;
}

.home-reviews-item__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 34px;
}

.home-reviews-item__rating {
    display: flex;
    align-items: center;
}

.home-reviews-item__rating img {
    display: block;
    width: 14px;
    height: 14px;
    margin-right: 4px;
}

.home-reviews-item__rating img.home-reviews-item__star--active {
    display: none;
}

.home-reviews-item__rating span {
    color: var(--color-blue);
    line-height: 1.8;
    font-weight: 500;
    font-size: 15px;
}

.home-reviews-item__label {
    border-radius: 20px;
    background-color: var(--color-blue);
    color: white;
    text-align: center;
    font-weight: 500;
    padding: 4px 26px;
    border: 1px solid var(--color-blue);
    font-size: 13px;
    line-height: 1.26;
}

.home-reviews-item__info {
    margin-bottom: 35px;
}

.home-reviews-item__info img {
    display: block;
    margin-bottom: 18px;
}

.home-reviews-item__info p {
    display: block;
    line-height: 1.8;
    font-size: 13px;
    margin-bottom: 0;
}

.home-reviews-item__info b {
    display: block;
    margin-bottom: 18px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
}

.home-reviews-item__statistics {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: auto;
}

.home-reviews-item__statistics ul {
    display: flex;
    padding: 0;
    margin: 0;
}

.home-reviews-item__statistics li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    color: white;
    border-radius: 50%;
    background-color: var(--color-blue);
    text-align: center;
    position: relative;
    text-decoration: none;
}

.home-reviews-item__statistics li + li {
    border-left: 2px solid white;
    left: -8px;
}

.home-reviews-item__statistics span {
   display: block;
   margin-top: 2px;
   font-size: 13px;
   line-height: 1.38;
}

.home-reviews-item__statistics li img {
    display: block;
    width: 10px;
    height: 10px;
}

.home-reviews-item__statistics time {
    color: var(--color-blue);
    padding-top: 10px;
    line-height: 1.38;
    display: block;
    font-size: 13px;
}

.home-reviews-item__statistics .home-reviews-item__statistics--сircle--yellow {
    background-color: var(--color-orange);
}

.home-reviews__item:hover {
    background-color: var(--color-blue);
    color: white;
    transition: 0.3s;
}

.home-reviews__item:hover .home-reviews-item__rating span {
    color: white;
}

.home-reviews__item:hover .home-reviews-item__label {
    border-color: white;
}


.home-reviews__item:hover img.home-reviews-item__star--active {
    display: block;
}

.home-reviews__item:hover img.home-reviews-item__star {
    display: none;
}

.home-reviews__item:hover .time {
    color: white;
}

.home-reviews__item:hover .home-reviews-item__heart {
    display: none;
}

.home-reviews__item .home-reviews-item__heart--active {
    display: none ;
}

.home-reviews__item:hover .home-reviews-item__heart--active {
    display: block;
}

.home-reviews__item:hover .home-reviews-item__comment {
    display: none;
}

.home-reviews__item .home-reviews-item__comment--active {
    display: none;
}

.home-reviews__item:hover .home-reviews-item__comment--active {
    display: block;
}

.home-reviews__item:hover .home-reviews-item__statistics li {
    background-color: white;
}


.home-reviews__item:hover .home-reviews-item__statistics span {
    color: var(--color-blue);
}

.home-reviews__item:hover .home-reviews-item__statistics li + li {
    border-left: 2px solid var(--color-blue);
}
/* ! ---------- HOME STEPS ---------- */


.home-steps--with-bg {
    
}

.home-steps__wrap {
    background-color: var(--color-accent-bg);  
    padding: 52px 108px 52px 108px;
    background-image: url("/img/steps-line.png");   
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 60px;
    margin-bottom: 85px;
}

.home-steps__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.home-steps__header h5 {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.3;
    margin: 0;
}

.home-steps__fire {
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
}

.home-steps__fire p {
    margin: 0;
    padding-right: 8px;
    line-height: 1.28;
    font-weight: 500;
    padding-top: 6px;
}

.home-steps__fire img {
    display: block;
    width: 50px;
    height: 50px;
    position: relative;
}

.home-steps__fire span {
    color: white;
    font-weight: 700;
    line-height: 1.4;
    position: absolute;
    right: 17px;
    bottom: 11px;
}

.home-steps__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin-bottom: 46px;
}

.home-steps__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    padding: 24px 38px 40px 38px;
    border-radius: 20px;
    box-shadow: 0px 1.75px 9.39px 0px #DD79001D,
    0px 14px 75px 0px #DD79003B;
}

.home-steps__item img {
    margin-bottom: 14px;
}

.home-steps__item p {
    margin-bottom: 0px;
}

.home-steps-item__step {
    font-weight: 500;
    color: var(--color-blue);
    font-size: 13px;
    line-height: 1.69;
}

.home-steps-item__text {
    font-weight: 700;
}

.home-steps .button {
    margin-top: auto;
    /* margin-top: 35px; */
    width: 244px;
    height: 46px;
    margin-left: 39%;
}
/* ! ---------- HOME STEPS 2---------- */

.home-steps--with-bg {
    justify-content: center;
}

.home-steps__item--with-bg {
    box-shadow: 0px 10px 30px 0px #1D1D1D0A,
    0px 10px 50px 0px #7575750F;
}
/* ! ---------- HOME JOIN ---------- */

.home-join {
    padding: 90px 0px 90px 0px;
}

.home-join__wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 63px;
}

.home-join__item {
    display: flex;
    border-radius: 20px;
    background-color: var(--color-accent-bg);
    justify-content: center;
    background-image: url("/img/join-1.png");
    background-repeat: no-repeat;
    background-position: right;
    padding: 42px 96px 43px 50px;
}

.home-join__item--blue {
    background-color: var(--color-blue-light);
    color: var(--color-blue);
    background-image: url("/img/join-2.png");
}

.home-join__item h5 {
    font-weight: 500;
    font-size: 22px;
    line-height: 1.36;
    margin: 0;
    max-width: 70%;
}

.home-join__item a {
    padding: 13px 49px 14px 49px;
    font-weight: 500;
    margin-top: 35px;
}

.home-join__item img {
    display: block;
    width: 321px;
    height: 241px;
}

/* ! ---------- FOOTER ---------- */

.footer {
    background-color: var(--color-blue);
    color: white;
}

.footer li {
    list-style-type: none;
}

.footer ul {
    margin: 0;
    padding: 0;
}

.footer a {
    color: white;
}

.footer__top {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 68px;
}

.footer__left .footer__logo img {
    /* display: block; */
    width: 200px;
    height: auto;
    margin-bottom: 38px;
}

.footer__pay-mobile {
    display: none;
}

.footer__nav {
    display: flex;
    gap: 50px;
}

.footer__nav nav {
    display: flex;
    flex-direction: column;
}

.footer__nav b:nth-child(1) {
    font-weight: 700;
    margin-bottom: 26px;
}

.footer__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer__left span {
    opacity: 80%;
}

.footer__left img {
    display: block;
    margin-bottom: 8px;
}

.footer__contacts {
    display: flex;
    justify-content: space-between;
    background-color: #0290F5;
    border-radius: 20px;
    padding: 25px 40px 29px 40px;
    box-shadow: 0px 1.75px 9.39px 0px #DD79001D, 0px 14px 75px 0px #5656563B;
    position: relative;
}

.footer__contacts ul {
    margin: 0;
    padding: 0;
    position: relative;
}

.footer__contacts ul:last-child {
    padding-left: 36px;
    margin-left: 36px;
}

.footer__contacts ul:last-child::before {
    content: "";
    display: block;
    width: 1px;
    position: absolute;
    background-color: #FFFFFF33;
    left: 0;
    top: -8px;
    bottom: -12px;
}

.footer__contacts li:nth-child(1) {
    opacity: 80%;
    line-height: 1.3;
    margin-bottom: 4px;
}

.footer__contacts li:nth-child(2) {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.20;
}

.footer__bottom .footer__rules {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 56px;
    padding-bottom: 56px;
}

.footer__bottom .footer__copyright {
    display: flex;
    gap: 10px;
    align-items: center;
}

.footer__bottom p {
    font-weight: 500;
    margin: 0;
}

.footer__bottom span {
    opacity:80%;
}

.footer__span-mobile {
    display: none;
}

.footer__copyrigh p {
    margin: 0;
}

.footer__copyright a {
    opacity: 60%;
}

.footer__copyright img {
    display: flex;
    align-items: center;
    width: 16px;
    height: 16px;
}

.footer__rules a {
    margin-left: 60px;
}

.hide {
    display: none !important;
}